---
$path
$title
$shortcut-icon
---

<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<title>{{$title}}</title>
<link href="{{$shortcut-icon}}" rel="shortcut icon">
<link href="{{$path}}stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{$path}}stylesheets/all.css?2022072801" media="screen" rel="stylesheet" type="text/css" />

